
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'customers_Customer_list' %}">
    Customer Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_name">last_name: </label>
      <input class="form-control col-sm-10"
         id="last_name" type="text"
         name="last_name" value="{{ object.last_name }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="address">address: </label>
      <input class="form-control col-sm-10"
         id="address" type="text"
         name="address" value="{{ object.address }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="first_name">first_name: </label>
      <input class="form-control col-sm-10"
         id="first_name" type="text"
         name="first_name" value="{{ object.first_name }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="city">city: </label>
      {{ form.city }}
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}