
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'inventory_Item_list' %}">
    Item Listing
    </a>
</p>
    
<table class="table">
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>unit_of_measure</td><td>{{ object.unit_of_measure }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>price</td><td>{{ object.price }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>expiry_date</td><td>{{ object.expiry_date }}</td></tr>
    <tr><td>category</td><td>{{ object.category }}</td></tr>
    <tr><td>supplier</td><td>{{ object.supplier }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}