{% extends "base.html" %}
{% block content %}
<div class="m-2"><h4>orders</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'orders_DeliveryAgent_list' %}">DeliveryAgent Listing</a></div>
<div class="m-2"><h4>core</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'core_User_list' %}">User Listing</a></div>
<div class="m-2"><h4>customers</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'customers_Order_list' %}">Order Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'customers_Customer_list' %}">Customer Listing</a></div>
<div class="m-2"><h4>world</h4></div>
{#<div class="m-2"><a class="btn btn-light" href="{% url 'world_City_list' %}">City Listing</a></div>#}
{#<div class="m-2"><a class="btn btn-light" href="{% url 'world_Country_list' %}">Country Listing</a></div>#}
{#<div class="m-2"><a class="btn btn-light" href="{% url 'world_Province_list' %}">Province Listing</a></div>#}
<div class="m-2"><h4>inventory</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'inventory_Category_list' %}">Category Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'inventory_Item_list' %}">Item Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'inventory_Stock_list' %}">Stock Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'inventory_Supplier_list' %}">Supplier Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'inventory_SupplyManager_list' %}">SupplyManager Listing</a></div>
<div class="m-2"><h4>restaurant</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'restaurant_Ingredient_list' %}">Ingredient Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'restaurant_Menu_list' %}">Menu Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'restaurant_MenuItem_list' %}">MenuItem Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'restaurant_Restaurant_list' %}">Restaurant Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'restaurant_Chef_list' %}">Chef Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'restaurant_Staff_list' %}">Staff Listing</a></div>
<div class='container'>
    <div class='card'>
        <div class='card-body'>
{#            <div><a href="{% url 'htmx' %}">HTMX UI</a></div>#}
        </div>
    </div>
</div>
{% endblock %}
